@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    /* border: 1px solid; */
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

div {
    margin: 0;
}

:root {
    --primary-color: rgb(94,23,235);
    --secondary-color: rgb(49,196,239);    
    --tertiary-color: #FDA93C;
}

body {
    height: 100%;
}

h1 {
    margin: 0;
    text-align: center;
}

.container {
    width: 100%;
}

.ipCon {
    height: 30%;
    padding: 1rem;
    box-shadow: 0px 3px rgb(0,0,0, .2);
}

input{
    border: 1px solid lightgrey;
    border-radius: 5px;
}
button {
    bottom: -13px;
    box-shadow: 3px 3px rgb(0,0,0, .2);
}

.opCon {
    height: 70%;
    background: linear-gradient( 45deg, var(--primary-color), var(--secondary-color));
    padding: .5rem;
    color:white; 
}


pre {
    padding: .5rem;
    width: 100%;
    border-radius: 10px;
    font-size: smaller;
    background:rgb(0,0,0, .1);
}

.btnCon{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(0,0,0, .2);   
}

/* Media Queries */