@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

:root {
    --primary-color: rgb(94,23,235);
    --secondary-color: #7869FA;
    --tertiary-color: #FDA93C;
}

body {
    height: 100%;
}

main {
    background-color: var(--secondary-color);
    border-radius: 5px;
    height: 100vh;
}

h1 {
    text-align: center;
}

